.imageBGAnimeListHome{
    background: url('../public/images/Sprinkle\ \(3\).svg');
    background-position: center;
    // position:fixed;
  
  
    background-size: cover;
    // background-color: rgb(53, 51, 51);
 
}



