.searchAnimeContainerBGImage {
  background-image: url("../../../public/images/Sprinkle (3).svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family: "Merienda One", cursive;
}