.animeListTvSeries{
    height: 12em;
    // max-width: 21em;
}

.animeListMoviesBackground{
    background-image: url("../../../public/images/Sprinkle (3).svg");
    background-position: top;
    background-size: cover;
}
.animeListMoviesBackgroundBlur{
    background: rgba(61, 40, 80, 0.25);
box-shadow: 0 8px 32px 0 rgba(160, 95, 233, 0.37);
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 10px;
border: 1px solid rgba(138, 104, 167, 0.767);
font-size: 14px;
font-family: $merienda;
// width: 16em;
// height: 14em;
&:hover{
	transform: scale(1.1);
	
		// -webkit-animation: jello-horizontal 0.9s both;
	    //     animation: jello-horizontal 0.9s both;
	
}

}

// @-webkit-keyframes jello-horizontal {
//     0% {
//       -webkit-transform: scale3d(1, 1, 1);
//               transform: scale3d(1, 1, 1);
//     }
//     30% {
//       -webkit-transform: scale3d(1.25, 0.75, 1);
//               transform: scale3d(1.25, 0.75, 1);
//     }
//     40% {
//       -webkit-transform: scale3d(0.75, 1.25, 1);
//               transform: scale3d(0.75, 1.25, 1);
//     }
//     50% {
//       -webkit-transform: scale3d(1.15, 0.85, 1);
//               transform: scale3d(1.15, 0.85, 1);
//     }
//     65% {
//       -webkit-transform: scale3d(0.95, 1.05, 1);
//               transform: scale3d(0.95, 1.05, 1);
//     }
//     75% {
//       -webkit-transform: scale3d(1.05, 0.95, 1);
//               transform: scale3d(1.05, 0.95, 1);
//     }
//     100% {
//       -webkit-transform: scale3d(1, 1, 1);
//               transform: scale3d(1, 1, 1);
//     }
//   }
//   @keyframes jello-horizontal {
//     0% {
//       -webkit-transform: scale3d(1, 1, 1);
//               transform: scale3d(1, 1, 1);
//     }
//     30% {
//       -webkit-transform: scale3d(1.25, 0.75, 1);
//               transform: scale3d(1.25, 0.75, 1);
//     }
//     40% {
//       -webkit-transform: scale3d(0.75, 1.25, 1);
//               transform: scale3d(0.75, 1.25, 1);
//     }
//     50% {
//       -webkit-transform: scale3d(1.15, 0.85, 1);
//               transform: scale3d(1.15, 0.85, 1);
//     }
//     65% {
//       -webkit-transform: scale3d(0.95, 1.05, 1);
//               transform: scale3d(0.95, 1.05, 1);
//     }
//     75% {
//       -webkit-transform: scale3d(1.05, 0.95, 1);
//               transform: scale3d(1.05, 0.95, 1);
//     }
//     100% {
//       -webkit-transform: scale3d(1, 1, 1);
//               transform: scale3d(1, 1, 1);
//     }
//   }
  