.searchNaveBlur{
    background: rgba(15, 37, 136, 0.26);
// border-radius: 16px;
// border-top-left-radius: 16px;
// border-bottom-right-radius: 16px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
// border: 1px solid rgba(199, 95, 240, 0.42);
}