.profileModalBackground{
    background: rgba(43, 15, 94, 0.5);
box-shadow: 0 8px 32px 0 rgba(236, 186, 47, 0.27);
backdrop-filter: blur( 11.5px );
-webkit-backdrop-filter: blur( 11.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}